@model _18_Jun_2021.Models.Account

@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/_LayoutPage1.cshtml";
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/util.css" rel="stylesheet" />
}

@using (Html.BeginForm())
{
    @RenderBody()

    <div class="limiter">

        <div class="container-login100" style="background-image: url('../../images/bg-01.jpg'); " />


        <div class="wrap-login100">
            <form action="Logout" method="post" class="login100-form validate-form">
                <center>
                    <span class="">
                        <img src="~/images/icons/Icon RM.ico" />
                        <i class="zmdi-landscape"></i>
                    </span>
                </center>

                <span class="login100-form-title p-b-34 p-t-27">
                    Welcome back!
                </span>

                <span class="login100-form-title p-b-34 p-t-27">
                    How it's going?
                </span>

            </form>
            <br />
            <div>
                @Html.ActionLink("Logout or", "Logout", "Account")
                @if (ViewBag.Message != "")
                {
                    <div class="text-danger">@ViewBag.Message</div>
                }
            </div>
            <br />
            <div>
                @Html.ActionLink("Continue with sending message to your Station", "SelectClient", "Account")
                @if (ViewBag.Message != "")
                {
                    <div class="text-danger">@ViewBag.Message</div>
                }
            </div>
        </div>
    </div>



    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>


}