@model _18_Jun_2021.Models.Extended.StationModel

@{
    ViewBag.Title = "SelectClient";
    Layout = "~/Views/_LayoutPage1.cshtml";
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/util.css" rel="stylesheet" />
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="limiter">

        <div class="container-login100" style="background-image: url('../../images/bg-01.jpg'); " />




        <div class="wrap-login100">
            <form action="SelectClient" method="post" class="login100-form validate-form">
                <center>
                    <span class="">
                        <img src="~/images/icons/Icon RM.ico" />
                        <i class="zmdi-landscape"></i>
                    </span>
                </center>

                <span class="login100-form-title p-b-34 p-t-27">
                    To Station?
                </span>

                <script type="text/javascript"
                        src="@Url.Content("~/Scripts/")jquery-3.4.1.js"></script>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#checkBoxAll').click(function () {
                            if ($(this).is(":checked"))
                                $('.input-checkbox100').prop('checked', true);
                            else
                                $('.input-checkbox100').prop('checked', false);
                        });
                    });
                </script>

                @for (int idx = 0; idx < Model.ListStation.Count; idx++)
                {
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="@Model.ListStation[idx].Id" name="StationId" type="checkbox" value="@Model.ListStation[idx].Id">
                        <label class="label-checkbox100" for="@Model.ListStation[idx].Id">
                            @Model.ListStation[idx].TargetStation
                        </label>
                    </div>
                }

                <div class="contact100-form-checkbox">
                    <input class="input-checkbox100" id="checkBoxAll" type="checkbox" name="checkBoxAll" value="true">
                    <label class="label-checkbox100" for="checkBoxAll">
                        Select All ?
                    </label>
                </div>
                <br />

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" onclick="return confirm('Are you sure ?')">
                        Next
                    </button>
                </div>
            </form>
            <div>
                @Html.ActionLink("RegisterStation", "RegisterStation", "Account")
                @if (ViewBag.Message != "")
                {
                    <div class="text-danger">@ViewBag.Message</div>
                }
            </div>
        </div>
    </div>



    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>

}
