@model _18_Jun_2021.Models.Message

@{
    ViewBag.Title = "SendMessageResult";
    Layout = "~/Views/_LayoutPage1.cshtml";
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/util.css" rel="stylesheet" />
}

@using (Html.BeginForm())
{


    <div class="limiter">

        <div class="container-login100" style="background-image: url('../../images/bg-01.jpg'); " />


        <div class="wrap-login100">
            <form action="SendMessageResult" method="post" class="login100-form validate-form">
                <center>
                    <span class="">
                        <img src="~/images/icons/Icon RM.ico" />
                        <i class="zmdi-landscape"></i>
                    </span>
                </center>

                <span class="login100-form-title p-b-34 p-t-27">
                    Result
                </span>

                @if (ViewBag.Date != null)
                {
                    <p style="font-family: Poppins-Regular; font-size: 16px; color: #e5e5e5; line-height: 1.5; ">__ On @ViewBag.Date __</p>
                }

                @if (ViewBag.Message != null)
                {
                    <p style="font-family: Poppins-Regular; font-size: 16px; color: #e5e5e5; line-height: 1.5; ">__ Deliver a message __</p>
                    <p style="font-family: revert; font-size: 16px; color: #fff; line-height: 1.5; ">"@ViewBag.Message"</p>
                    <br />
                }

                <p style="font-family: Poppins-Regular; font-size: 16px; color: #e5e5e5; line-height: 1.5; ">__ Success at Station __</p>
                @if (ViewBag.StationOK != null)
                {
                    <p style="font-family: revert; font-size: 16px; color: #fff; line-height: 1.5; ">"@ViewBag.StationOK"</p>
                }
                else
                {
                    <p style="font-family: revert; font-size: 16px; color: #fff; line-height: 1.5; ">"None"</p>
                }

                <br />
                <p style="font-family: Poppins-Regular; font-size: 16px; color: #e5e5e5; line-height: 1.5; ">__ Fail at Station __</p>
                @if ((ViewBag.StationNG != null) && (ViewBag.StationNG != "-"))
                {
                    <p style="font-family: revert; font-size: 16px; color: #fff; line-height: 1.5; ">"@ViewBag.StationNG"</p>
                }
                else
                {
                    <p style="font-family: revert; font-size: 16px; color: #fff; line-height: 1.5; ">"None"</p>
                }

                @if (ViewBag.Count != null)
                {
                    <br />
                    <p style="font-family: Poppins-Regular; font-size: 16px; color: #e5e5e5; line-height: 1.5; ">__ Trial: @ViewBag.Count turns __</p>
                }

            </form>
            <br />
            <div>
                @Html.ActionLink("BackToDatabase", "StationDatabase", "Account")
            </div>
        </div>
    </div>



    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>


}